<div id="test-ui-harness" style="position: fixed; top: 0; left: 0; max-height: 50px; width: 300px; overflow-y: scroll; z-index: 100000;" ng-class="{hidden: vm.isTesting === false}">
    <button id="start-test-exchange-recording" ng-click="vm.startWatching()">R</button>
    <button id="stop-test-exchange-recording" ng-click="vm.stopWatching()">S</button>
    <div class="request {{'type-' + response.type}}" style="overflow: scroll; display: inline-block;" ng-class="{error: response.error}" ng-repeat="response in vm.responses">
        <span class="type">{{response.type}}</span>
        <span class="request-url">{{response.url}}</span>
        <span class="response">{{response.data}}</span>
    </div>
</div>